# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
.expo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# coverage
coverage/
.nyc_output/

# vite/vitest cache
.vite/
.vitest/
